<script setup>
import { ref } from "vue";
import { cdxIconInfoFilled, cdxIconImage } from "@wikimedia/codex-icons";
import { CdxMessage, CdxButton, CdxIcon } from "@wikimedia/codex";
import "@wikimedia/codex-design-tokens/theme-wikimedia-ui.css";
import html2canvas from "html2canvas";

const clipboardMessage = ref({ display: false, message: "" });
/**
 * Creates a screenshot of the specified element and copies it to the user's clipboard.
 * @param {string | HTMLElement} supporterCardElement - The ID of the element or the element itself to screenshot.
 */
 const createScreenshot = (supporterCardElement) => {
  const options = {
    allowTaint: true,
    useCORS: true,
    backgroundColor: null,
    scale:3
  };

  const supporterCard = document.getElementById(supporterCardElement)

  if (!supporterCard) {
    console.error("Element not found: ", supporterCardElement);
    return;
  }

  html2canvas(supporterCard, options)
    .then((canvas) => {
      canvas.toBlob((blob) => {
        if (blob) {
          navigator.clipboard
            .write([new ClipboardItem({ "image/png": blob })])
            .catch((err) => console.error("Failed to copy screenshot:", err));
        } else {
          console.error("Failed to create a screenshot blob.");
        }
      });
    })
    .catch((err) => console.error("Error generating screenshot:", err));
    clipboardMessage.value.display = true;
    clipboardMessage.value.message = supporterCardElement == "supporter-card-with-padding" ? "Screenshot (Extra padding) copied!" : "Screenshot copied!";
      setTimeout(() => {
        clipboardMessage.value.display = false;
    }, 3000);
};
</script>


<template>
  <section class="p-4 bg-opacity-0">
    <cdx-message class="mb-4" :icon="cdxIconInfoFilled"><strong>Instructions:</strong> Edit copy on card by clicking text areas. You can also delete areas you don't need.<br /> When ready, click one of the <strong>"Copy Screenshot"</strong> buttons. The <strong>"Extra padding"</strong> option includes more space around the card.<br />
    You can start from scratch by refreshing the page. All edits will be lost however upon refresh.</cdx-message>
    <div class="flex flex-row gap-4 justify-center items-start">
      <div id="supporter-card-with-padding" class="p-4">
      <table id="supporter-card">
      <tr>
        <td>
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;" width="100%">
         <tr>
            <td bgcolor="#F9F9F0" style="background: linear-gradient(127deg, #F9F9F0 0%, #FFFFFF 32%, #F9F9F0 72%); border-radius:16px; border: 1px solid #202122; overflow:hidden; padding: 24px;">
               <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                     <td>
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                           <tr>
                              <td valign="middle">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                    <tr>
                                       <td style="padding-bottom: 16px;">
                                          <p style="margin:0; font-family:'Source Serif Pro',Georgia,'Times New Roman',Times,serif; font-size:22px; line-height:32px; font-weight:700; color:#202122;" contenteditable="true">Rarest Supporter Card 🌟<br/>
                                          <p style="margin:5px 5px 5px 0; font-size:16px; line-height:26px; color:#202122; font-style: italic; font-family:'Times New Roman',Times,serif; padding-right:35px;" contenteditable="true">Less than 1% of Wikipedia readers give more than once in a year</p>
                                          </p>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <p style="margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; color: #202122;" contenteditable="true">First name: <strong>Elijah</strong><br />
                                            Donor since: <strong>2024</strong><br /></p>
                                            <p style="margin: 30px 0 0 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: 700; color: #202122;" contenteditable="true">Renewal gift amount:</p>
                        <p style="margin: 5px 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #202122;" contenteditable="true">More words if needed!</p>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                              <td align="right" valign="top"><img alt="Wikipedia Globe" name="Wikipedia Globe" src="https://upload.wikimedia.org/wikipedia/donate/7/71/Wikipedia-globe-citation-needed.png" style="margin-top:20px; width: 120px; display: block;" width="120" /></td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
        </td>
      </tr>
    </table>
  </div>
      <div class="flex flex-col gap-4 mt-4">
        <cdx-button @click="() => createScreenshot('supporter-card')">
          <cdx-icon :icon="cdxIconImage" /> Create Screenshot
        </cdx-button>
        <cdx-button @click="() => createScreenshot('supporter-card-with-padding')">
          <cdx-icon :icon="cdxIconImage" /> Create Screenshot (Extra padding)
        </cdx-button>
        <transition name="fade" mode="out-in">
          <div v-show="clipboardMessage.display" class="rounded-sm border border-green-700 bg-green-100 p-2">
            {{ clipboardMessage.message }}
          </div>
        </transition>
      </div>
    </div>

<!-- End of Renewal Card -->
  </section>
</template>
