<script setup>
// Imports
import { domain } from "@/toolkit_config.js";
import { ref, onMounted, computed } from "vue";
import { CdxAccordion, CdxLabel, CdxCard, CdxLookup, CdxButton, CdxIcon } from "@wikimedia/codex";
import { cdxIconSearch, cdxIconLink } from "@wikimedia/codex-icons";
import Clipboard from "clipboard";
import HeadingOne from "@/src/components/utilities/HeadingOne.vue";

// Declaring page variables.
const jsonURL = `${domain}/assets/html_emails/email_design_layouts/email_design_layouts.json`; // JSON with all email template information.
const emailData = ref(null); // Holds full JSON data.
const selectedCategory = ref(null);
const selectedEmail = ref("");
const showURLCopied = ref(false);
const emailCategories = ref([]);

const selectedEmailNew = ref({
  url: "",
  src: "",
  from: "",
  subject_line: "",
  preheader: "",
});

// When page runs initially
onMounted(async () => {
  try {
    // Fetch the email data from JSON
    const response = await fetch(jsonURL);
    if (!response.ok) throw new Error("Network response was not ok");
    emailData.value = await response.json();
  } catch (error) {
    console.error("Error fetching data:", error);
  }
  // If emailData has data.
  if (emailData.value && emailData.value.categories.length > 0) {
    // Preselect the first category and email when page runs.
    selectedCategory.value = emailData.value.categories[0].name;
    selectedEmail.value = emailData.value.categories[0].emails[0].src;
  }
});

const filteredEmails = computed(() => {
  // If no category is selected, return an empty array
  if (!selectedCategory.value) return [];

  if (emailData.value) {
    return emailData.value.categories.find((cat) => cat.name === selectedCategory.value).emails;
  }

  // If the selected category is not found or emailData is not available, return an empty array
  return [];
});

/**
 * Filter items on input.
 *
 * @param {string} value
 */
function onInput(value) {
  emailCategories.value = value
    ? emailData.value.categories
        .filter((category) => category.name.toLowerCase().includes(value.toLowerCase()))
        .map((category) => ({
          label: category.name,
          value: category.name,
        }))
    : emailData.value.categories.map((category) => ({
        label: category.name,
        value: category.name,
      }));
}

/**
 * Copy the currently selected email to the user's clipboard.
 *
 */
const copyEmailURL = () => {
  // Create new clipboard and assign selectedEmail.value to it.
  const clipboard = new Clipboard("button", { text: () => selectedEmail.value });

  // Show tooltip logic
  clipboard.on("success", () => {
    showURLCopied.value = true;
    setTimeout(() => {
      showURLCopied.value = false;
    }, 3000);
    clipboard.destroy();
  });

  clipboard.on("error", () => {
    clipboard.destroy();
  });
};
</script>

<template>
  <section id="EmailDesignLayouts" v-if="emailData !== null">
    <!-- <HeadingOne content="Email Campaign Archive" /> -->
    <section class="flex h-[calc(100vh-102px)] max-h-screen">
      <!-- Design Selector -->
      <div class="w-96">
        <div class="mb-5 flex flex-col">
          <div v-for="category in emailCategories">
            <cdx-accordion>
              <template #title>{{ category.label }}</template>
              emailssssssssss
            </cdx-accordion>
          </div>

          <cdx-label class="mb-2">Select category:</cdx-label>
          <cdx-lookup
            v-model:selected="selectedCategory"
            :clearable="true"
            :initialInputValue="selectedCategory"
            placeholder='Click and press "Return" for categories'
            :start-icon="cdxIconSearch"
            :menu-items="emailCategories"
            aria-label="Email Category Selection"
            @input="onInput" />
        </div>
        <div class="max-h-[calc(100vh-195px)] overflow-y-auto border border-gray-300 bg-gray-100 p-3">
          <cdx-card
            :class="[
              'hover:cursor-pointer hover:border-[#3366CC] hover:shadow-[inset_1px_1px,inset_-1px_-1px] hover:shadow-[#3366CC]',
              index !== filteredEmails.length - 1 ? 'mb-3' : '',
              {
                'border-[#3366CC] shadow-[inset_1px_1px,inset_-1px_-1px] shadow-[#3366CC]': selectedEmail === email.src,
              },
            ]"
            v-for="(email, index) in filteredEmails"
            @click="
              (selectedEmail = email.src),
                (selectedEmailNew.from = email.sender),
                (selectedEmailNew.subject_line = email.subject_line),
                (selectedEmailNew.preheader = email.preheader)
            ">
            <template #title>{{ email.name }} </template>
            <template #description
              ><span class="block"><strong>Sender:</strong> {{ email.sender }}</span
              ><strong>SL:</strong> {{ email.subject_line }}
            </template>
            <template #supporting-text><strong>PH:</strong> {{ email.preheader }} </template>
          </cdx-card>
        </div>
      </div>
      <!-- Design Preview -->
      <div class="flex flex-1 flex-col border-l border-gray-300 bg-gray-100">
        <div class="flex flex-row items-center justify-between p-4">
          <table>
            <tr>
              <td class="pb-2 pr-5 text-sm font-light text-gray-500">From:</td>
              <td class="pb-2">{{ selectedEmailNew.from }}</td>
            </tr>
            <tr>
              <td class="pb-2 pr-5 text-sm font-light text-gray-500">Subject Line:</td>
              <td class="pb-2">{{ selectedEmailNew.subject_line }}</td>
            </tr>
            <tr>
              <td class="pb-2 pr-5 text-sm font-light text-gray-500">Preheader:</td>
              <td class="pb-2">{{ selectedEmailNew.preheader }}</td>
            </tr>
          </table>
          <div class="relative">
            <transition name="fade" mode="out-in">
              <div
                v-show="showURLCopied"
                class="absolute -top-14 right-0 rounded-sm border border-green-700 bg-green-100 p-2">
                URL copied!
              </div>
            </transition>
            <cdx-button @click="copyEmailURL"> <cdx-icon :icon="cdxIconLink" /> Copy Email URL </cdx-button>
          </div>
        </div>
        <iframe id="design-preview" class="h-full border-t border-gray-300" :src="selectedEmail"></iframe>
      </div>
    </section>
  </section>
</template>
