<script setup>
import { ROUTES } from "@/src/routes.js";
import { ref } from "vue";
import { CdxIcon } from "@wikimedia/codex";
import { cdxIconLogoWikimedia, cdxIconMenu, cdxIconClose } from "@wikimedia/codex-icons";
import Breadcrumbs from "@/src/components/Breadcrumbs.vue";

const sideMenu = ref(false);
</script>

<template>
  <section class="border-b border-gray-300 px-6 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-3">
        <cdx-icon :icon="cdxIconLogoWikimedia" />
        <span class="text-lg font-bold">FR Toolkit</span>
        <Breadcrumbs />
      </div>

      <cdx-icon
        :class="{
          hidden: sideMenu,
        }"
        class="mr-2 cursor-pointer"
        size="medium"
        :icon="cdxIconMenu"
        @click="sideMenu = !sideMenu" />
    </div>
    <aside id="sidebar" class="fixed right-0 top-0 z-20 flex h-screen w-64 flex-col border-r border-r-gray-300 bg-white px-6 py-4 transition-transform duration-300" :class="{ 'translate-x-0 shadow-lg': sideMenu, 'translate-x-full': !sideMenu }" aria-label="Sidebar">
      <nav class="flex flex-col gap-4">
        <div class="mb-4 flex items-center justify-between gap-3 border-b border-b-gray-300 pb-5">
          <div class="flex items-center gap-2">
            <cdx-icon :icon="cdxIconLogoWikimedia" />
            <span class="text-lg font-bold">FR-Toolkit</span>
          </div>
          <cdx-icon
            :class="{
              hidden: !sideMenu,
            }"
            class="cursor-pointer"
            size="medium"
            :icon="cdxIconClose"
            @click="sideMenu = !sideMenu" />
        </div>
        <div v-for="category in ROUTES" :key="category.category">
          <h2 class="mb-4 text-h4 font-semibold">{{ category.category }}</h2>
          <div v-for="route in category.links" :key="route.to" class="mb-2">
            <router-link
              :to="route.to"
              class="transition-colors duration-150 hover:text-blue-500"
              :class="{
                'text-blue-600': $route.path === route.to,
                'text-gray-600': $route.path !== route.to,
              }"
              @click="sideMenu = !sideMenu">
              {{ route.title }}
            </router-link>
          </div>
        </div>
      </nav>
    </aside>
  </section>
  <div
    class="bg-black transition-opacity duration-300"
    :class="{
      'absolute right-0 top-0 z-10 h-full w-full opacity-20': sideMenu,
      'opacity-0': !sideMenu,
    }"
    @click="sideMenu = !sideMenu"></div>
</template>
