<script setup>
// Imports
import { domain } from "@/toolkit_config.js";
import { ref, onMounted, watch } from "vue";
import { CdxThumbnail, CdxField, CdxSelect, CdxAccordion, CdxButton, CdxIcon } from "@wikimedia/codex";
import { cdxIconLink, cdxIconImage } from "@wikimedia/codex-icons";
import html2canvas from "html2canvas";

// Declaring page variables.
const jsonURL = `${domain}/assets/html_emails/email_design_library/email_design_library.json`; // URL for JSON data
const emailData = ref(null); // Holds full JSON data.
const emails = ref([]);
const clipboardMessage = ref({ display: false, message: "hello" });
const selectedEmail = ref({
  // Object to hold selected email data
  url: "",
  src: "",
  from: "",
  subject_line: "",
  preheader: "",
});

// Function to update selected email
const updateSelectedEmail = (email) => {
  selectedEmail.value = { ...email };
};

// Function executed after component is mounted
onMounted(async () => {
  try {
    const response = await fetch(jsonURL); // Fetching JSON data
    if (!response.ok) throw new Error("Network response was not ok");
    emailData.value = await response.json();
    console.log(emailData.value.emails);
  } catch (error) {
    console.error("Error fetching data:", error);
  }
  // if (emailData.value) {
  //   emailFiscalYears.value = emailData.value.fiscal_year.map((year) => ({ label: year.name, value: year.name })); // Mapping fiscal years
  //   selectedFiscalYear.value = emailData.value.fiscal_year[0].name; // Setting initial selected fiscal year
  //   emailCategories.value = emailData.value.fiscal_year[0].category; // Assigning categories
  //   selectedEmail.value = { ...emailData.value.fiscal_year[0].category[0].emails[0] }; // Setting initial selected email
  // }
});

// Watcher for selected fiscal year changes
// watch(selectedFiscalYear, (newValue) => {
//   const selectedYear = emailData.value.fiscal_year.find((year) => year.name === newValue); // Finding selected fiscal year
//   if (selectedYear) {
//     emailCategories.value = selectedYear.category; // Updating email categories
//   }
// });

// Function to copy email URL to clipboard
// const copyEmailURL = () => {
//   navigator.clipboard.writeText(selectedEmail.value.url).then(() => {
//     // Show URL copied message
//     clipboardMessage.value.display = true;
//     clipboardMessage.value.message = "Email URL copied!";
//     setTimeout(() => {
//       clipboardMessage.value.display = false;
//     }, 3000);
//   });
// };

// Function to copy email URL to clipboard
// const createScreenshot = () => {
//   const options = {
//     allowTaint: true,
//     useCORS: true,
//   };
//   const emailIframe = document.getElementById("design-preview").contentWindow.document.body;
//   html2canvas(emailIframe, options).then((canvas) =>
//     canvas.toBlob((blob) => navigator.clipboard.write([new ClipboardItem({ "image/png": blob })])),
//   );
//   clipboardMessage.value.display = true;
//   clipboardMessage.value.message = "Screenshot copied!";
//   setTimeout(() => {
//     clipboardMessage.value.display = false;
//   }, 3000);
// };
</script>

<template>
  <section id="EmailDesignLayouts" v-if="emailData !== null">
    <section class="flex h-[calc(100vh-102px)] max-h-screen">
      <!-- Design Selector -->
      <div class="w-96">
        <div class="mb-5 flex flex-col">
          <div>
            <ul class="grid grid-cols-3 items-center justify-center gap-1">
              <li v-for="email in emailData.emails" @click="updateSelectedEmail(email)">
                <cdx-thumbnail class="flex cursor-pointer items-center justify-center p-2 transition duration-300 hover:bg-gray-200" :thumbnail="{ width: '400px', height: '400px', url: email.thumbnail }" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Design Preview -->
      <div class="flex h-screen flex-1 flex-col border-l border-gray-300 bg-gray-100">
        <div class="flex flex-row items-center justify-between p-4">
          <!-- Table for email info -->
          <table>
            <tr>
              <td class="pb-2 pr-5 text-sm font-light text-gray-700">Name:</td>
              <td class="pb-2">{{ selectedEmail.name }}</td>
            </tr>
          </table>
          <div class="relative"></div>
        </div>
        <iframe sandbox="allow-same-origin allow-popups allow-scripts" id="design-preview" class="h-screen border-t border-gray-300" :src="selectedEmail.url"></iframe>
      </div>
    </section>
  </section>
</template>
