<script setup>
// Imports
import { domain } from "@/toolkit_config.js";
import { ref, watch, onMounted } from "vue";
import { useRoute } from "vue-router";
import { CdxField, CdxButton, CdxTextInput, CdxTabs, CdxTab, CdxIcon } from "@wikimedia/codex";
import { cdxIconLink } from "@wikimedia/codex-icons";
import HtmlDiff from "htmldiff-js";
import Clipboard from "clipboard";

// Importing highlight.js for HTML source code highlighting.
import "highlight.js/styles/atom-one-dark-reasonable.css";
import hljs from "highlight.js/lib/core";
import xml from "highlight.js/lib/languages/xml";
import hljsVuePlugin from "@highlightjs/vue-plugin";
hljs.registerLanguage("xml", xml);
const { component: highlightjs } = hljsVuePlugin;

const route = useRoute();
const differencesFrom = ref("");
const differencesSubjectLine = ref("");
const differencesPreheader = ref("");
const differencesBody = ref("");
const showURLCopied = ref(false);
const DIFFERENCE_CSS = `<style>ins{background: #dfd;}del{background: #ffd8d8;}a span ins{background: #557D55;}a span del{background: #884747;}</style>`;

// Regex for metadata in HTML if present.
const templateRegex = /<template(?:[^>]|\s+(?!id=)[^>])*\sid="email-metadata"(?:[^>]|\s+(?!id=)[^>])*>\s*<\/template>/;
const fromRegex = /data-from="([^"]*)"/;
const subjectLineRegex = /data-subject-line="([^"]*)"/;
const preheaderRegex = /data-preheader="([^"]*)"/;

const emailA = ref({
  url: "",
  src: "",
  activeTab: "preview",
  metadataExist: false,
  from: "",
  subject_line: "",
  preheader: "",
  loading: false,
});

const emailB = ref({
  url: "",
  src: "",
  activeTab: "preview",
  metadataExist: false,
  from: "",
  subject_line: "",
  preheader: "",
  loading: false,
});

// Load emails from URL queries if they exist
onMounted(async () => {
  try {
    processURLQuery(route.fullPath);
  } catch (error) {
    console.error("Error fetching data:", error);
  }
});

// Watch for changes to URL queries
watch(
  () => route.fullPath,
  (newPath, oldPath) => {
    if (newPath !== oldPath) {
      processURLQuery(newPath);
    }
  },
);

// Process any changes to URL queries
function processURLQuery(newPath) {
  if (newPath.includes("email_a") && !newPath.includes("email_b")) {
    let url_a = newPath.substring(newPath.indexOf("email_a")).split("email_a=");
    emailA.value.url = url_a[1];
    updateEmail(emailA.value);
  } else if (newPath.includes("email_b") && !newPath.includes("email_a")) {
    let url_b = newPath.substring(newPath.indexOf("email_b")).split("email_b=");
    emailB.value.url = url_b[1];
    emailB.value.activeTab = "diffchecker";
    updateEmail(emailB.value);
  } else if (newPath.includes("email_a") && newPath.includes("email_b")) {
    let url_a = newPath.substring(newPath.indexOf("email_a"), newPath.indexOf("&email_b")).split("email_a=");
    let url_b = newPath.substring(newPath.indexOf("email_b")).split("email_b=");
    emailA.value.url = url_a[1];
    emailB.value.url = url_b[1];
    emailB.value.activeTab = "diffchecker";
    updateEmail(emailA.value);
    updateEmail(emailB.value);
  }
}

const updateEmail = async (email) => {
  if (email.url.length !== 0) {
    try {
      // Reset metadata
      email.metadataExist = false;
      email.loading = true;
      let fetchUrl = "";
      if (email.url.includes(domain)) fetchUrl = email.url;
      else fetchUrl = `/email-preview${email.url}`;
      const response = await fetch(fetchUrl);
      if (!response.ok) {
        email.loading = false;
        email.src = "<span style='color:rgb(179, 36, 36)'>Error: Email could not be loaded.</span>";
        throw new Error("Network response was not ok");
      }
      const htmlContent = await response.text();
      email.loading = false;
      email.src = htmlContent;
      if (htmlContent.match(templateRegex)) {
        email.metadataExist = true;
        email.from = htmlContent.match(fromRegex)[1];
        email.subject_line = htmlContent.match(subjectLineRegex)[1];
        email.preheader = htmlContent.match(preheaderRegex)[1];
      }
    } catch (error) {
      console.error("Error fetching data:", error);
    }
  } else email.src = "";
};

// Calculate differences between "from"s.
watch(
  () => [emailA.value.from, emailB.value.from],
  (fromArray) => {
    try {
      const fromA = fromArray[0];
      const fromB = fromArray[1];
      differencesFrom.value = HtmlDiff.execute(fromA, fromB);
    } catch (error) {
      console.error("An error occurred:", error);
    }
  },
);

// Calculate differences between subject lines.
watch(
  () => [emailA.value.subject_line, emailB.value.subject_line],
  (subjectLineArray) => {
    try {
      const subjectLineA = subjectLineArray[0];
      const subjectLineB = subjectLineArray[1];
      differencesSubjectLine.value = HtmlDiff.execute(subjectLineA, subjectLineB);
    } catch (error) {
      console.error("An error occurred:", error);
    }
  },
);

// Calculate differences between subject lines.
watch(
  () => [emailA.value.preheader, emailB.value.preheader],
  (preheaderArray) => {
    try {
      const preheaderA = preheaderArray[0];
      const preheaderB = preheaderArray[1];
      differencesPreheader.value = HtmlDiff.execute(preheaderA, preheaderB);
    } catch (error) {
      console.error("An error occurred:", error);
    }
  },
);

// Calculate differencesBody between emails.
watch(
  () => [emailA.value.src, emailB.value.src],
  (srcArray) => {
    try {
      const srcA = srcArray[0];
      const srcB = srcArray[1];
      differencesBody.value = HtmlDiff.execute(srcA, srcB);
      differencesBody.value = DIFFERENCE_CSS + differencesBody.value;
    } catch (error) {
      console.error("An error occurred:", error);
    }
  },
);

// Create a shareable diffchecker URL with currently selected emails
const createShareableURL = () => {
  // Create new clipboard and assign selectedEmail.value to it.
  const clipboard = new Clipboard("button", {
    text: () => `${domain}#${route.path}?email_a=${emailA.value.url}&email_b=${emailB.value.url}`,
  });

  // Show tooltip logic
  clipboard.on("success", () => {
    showURLCopied.value = true;
    setTimeout(() => {
      showURLCopied.value = false;
    }, 3000);
    clipboard.destroy();
  });

  clipboard.on("error", () => {
    clipboard.destroy();
  });
};
</script>

<!-- Override (*) style -->
<style scoped>
pre :deep(code span.hljs-tag) {
  color: #abb2bf;
}
pre {
  background-color: #282c34;
}

section.cdx-tab.loading::after {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  top: 50%; /* Adjusted to center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: -30px;
  margin-left: -30px;
}

section.cdx-tab.loading::after {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #36c;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  content: "";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
td::v-deep(ins) {
  background: #dfd;
}
td::v-deep(del) {
  background: #ffd8d8;
}
</style>

<template>
  <section class="p-6">
    <div class="relative flex justify-end gap-2">
      <transition name="fade" mode="out-in">
        <div v-show="showURLCopied" class="rounded-sm border border-green-700 bg-green-100 px-4 leading-[1.8]">URL copied!</div>
      </transition>
      <cdx-button :disabled="emailA.url.length === 0 || emailB.url.length === 0" @click="createShareableURL"> <cdx-icon :icon="cdxIconLink" /> Copy Diff URL </cdx-button>
    </div>
    <section class="flex max-w-full gap-4">
      <div class="w-1/2 flex-1">
        <div class="flex flex-col">
          <cdx-field class="mb-4">
            <cdx-text-input v-model="emailA.url" @input="updateEmail(emailA)" />
            <template #label>Email A URL:</template>
          </cdx-field>
          <cdx-tabs class="border border-gray-400" framed v-model:active="emailA.activeTab">
            <cdx-tab :class="{ loading: emailA.loading }" class="relative pt-2" :key="0" :name="'source'" :label="'Source Code'">
              <highlightjs class="block h-[calc(100vh-270px)] overflow-y-auto whitespace-pre-wrap text-xs" language="html" :code="emailA.src" />
            </cdx-tab>
            <cdx-tab :class="{ loading: emailA.loading }" class="relative" :key="1" :name="'preview'" :label="'Preview'">
              <div v-show="emailA.metadataExist" class="flex flex-row items-start justify-between border-b border-gray-400 bg-gray-100 p-3">
                <!-- Table for email info -->
                <table>
                  <tr>
                    <td class="pb-2 pr-5 text-sm font-light text-gray-700">From:</td>
                    <td class="pb-2">{{ emailA.from }}</td>
                  </tr>
                  <tr>
                    <td class="pb-2 pr-5 text-sm font-light text-gray-700">Subject Line:</td>
                    <td class="pb-2 font-semibold">{{ emailA.subject_line }}</td>
                  </tr>
                  <tr>
                    <td class="pr-5 text-sm font-light text-gray-700">Preheader:</td>
                    <td>{{ emailA.preheader }}</td>
                  </tr>
                </table>
              </div>
              <iframe sandbox="allow-same-origin allow-popups allow-scripts" class="h-[calc(100vh-270px)] w-full overflow-y-auto" v-bind:srcdoc="emailA.src"></iframe>
            </cdx-tab>
          </cdx-tabs>
        </div>
      </div>
      <div class="w-1/2 flex-1">
        <div class="flex flex-col">
          <cdx-field class="mb-4">
            <cdx-text-input v-model="emailB.url" @input="updateEmail(emailB)" />
            <template #label>Email B URL:</template>
          </cdx-field>

          <cdx-tabs class="border border-gray-400" framed v-model:active="emailB.activeTab">
            <cdx-tab :class="{ loading: emailB.loading }" class="relative" :key="0" :name="'source'" :label="'Source Code'">
              <highlightjs class="block h-[calc(100vh-270px)] overflow-y-auto whitespace-pre-wrap text-xs" language="html" :code="emailB.src" />
            </cdx-tab>
            <cdx-tab :class="{ loading: emailB.loading }" class="relative" :key="1" :name="'preview'" :label="'Preview'">
              <div v-show="emailB.metadataExist" class="flex flex-row items-start justify-between border-b border-gray-400 bg-gray-100 p-3">
                <!-- Table for email info -->
                <table>
                  <tr>
                    <td class="pb-2 pr-5 text-sm font-light text-gray-700">From:</td>
                    <td class="pb-2">{{ emailB.from }}</td>
                  </tr>
                  <tr>
                    <td class="pb-2 pr-5 text-sm font-light text-gray-700">Subject Line:</td>
                    <td class="pb-2 font-semibold">{{ emailB.subject_line }}</td>
                  </tr>
                  <tr>
                    <td class="pr-5 text-sm font-light text-gray-700">Preheader:</td>
                    <td>{{ emailB.preheader }}</td>
                  </tr>
                </table>
              </div>
              <iframe sandbox="allow-same-origin allow-popups allow-scripts" class="h-[calc(100vh-270px)] w-full overflow-y-auto" v-bind:srcdoc="emailB.src"></iframe>
            </cdx-tab>
            <cdx-tab :class="{ loading: emailB.loading }" class="relative" :key="2" :name="'diffchecker'" :label="'Diffchecker Results'">
              <div v-show="emailB.metadataExist" class="flex flex-row items-start justify-between border-b border-gray-400 bg-gray-100 p-3">
                <!-- Table for email info -->
                <table>
                  <tr>
                    <td class="pb-2 pr-5 text-sm font-light text-gray-700">From:</td>
                    <td class="pb-2" v-html="differencesFrom"></td>
                  </tr>
                  <tr>
                    <td class="pb-2 pr-5 text-sm font-light text-gray-700">Subject Line:</td>
                    <td class="pb-2 font-semibold" v-html="differencesSubjectLine"></td>
                  </tr>
                  <tr>
                    <td class="pr-5 text-sm font-light text-gray-700">Preheader:</td>
                    <td v-html="differencesPreheader"></td>
                  </tr>
                </table>
              </div>
              <iframe sandbox="allow-same-origin allow-popups allow-scripts" class="h-[calc(100vh-270px)] w-full overflow-y-auto" v-bind:srcdoc="differencesBody"></iframe>
            </cdx-tab>
          </cdx-tabs>
        </div>
      </div>
    </section>
  </section>
</template>
