<script setup>
//Imports
import { domain } from "@/toolkit_config.js";
import { ref, nextTick } from "vue";
import { CdxField, CdxTextInput, CdxButton, CdxIcon } from "@wikimedia/codex";
import { cdxIconClear } from "@wikimedia/codex-icons";

// Array that holds each email
const emails = ref([
  {
    id: 1,
    url: null,
    src: "",
    activeTab: "preview",
    loading: false,
    loadError: false,
  },
  {
    id: 2,
    url: null,
    src: "",
    activeTab: "preview",
    loading: false,
    loadError: false,
  },
]);

// Add new email to emails array. Scroll to the right when rendered.
const addEmail = () => {
  const newEmail = {
    id: emails.value[emails.value.length - 1].id + 1,
    url: null,
    src: "",
    activeTab: "preview",
    loading: false,
    loadError: false,
  };
  emails.value.push(newEmail);
  disableClear.value = false;
  nextTick(() => {
    const container = document.getElementById("email-comparator-container");
    if (container && document.getElementById("email-" + newEmail.id + "-preview")) {
      const scrollAmount = window.innerWidth;
      container.scroll({
        left: container.scrollLeft + scrollAmount,
        behavior: "smooth", // Add smooth scrolling behavior
      });
    }
  });
};

// Loads iframe with user provided URL.
const updateEmail = async (email) => {
  if (email.url.length !== 0) {
    try {
      email.loading = true;
      email.loadError = false;

      let fetchUrl = "";
      if (email.url.includes(domain)) fetchUrl = email.url;
      else fetchUrl = `/email-preview${email.url}`;

      const response = await fetch(fetchUrl);
      if (!response.ok) {
        email.loading = false;
        email.loadError = true;
        email.src = "<span style='color:rgb(179, 36, 36)'>Error: Email could not be loaded.</span>";
        throw new Error("Network response was not ok");
      }
      email.src = await response.text();
      email.loading = false;
      email.loadError = false;
    } catch (error) {
      console.error("Error fetching data:", error);
    }
  } else email.src = "";
};

const disableClear = ref(true);

const clearEmail = (email) => {
  // Always have at least two email
  if (emails.value.length > 2) {
    const index = emails.value.findIndex((e) => e.id === email.id);
    if (index !== -1) {
      emails.value.splice(index, 1);
    }

    // Disable clear if there's only one left.
    if (emails.value.length == 2) disableClear.value = true;
  }
};
</script>

<!-- Override (*) style -->
<style scoped>
pre :deep(code span.hljs-tag) {
  color: #abb2bf;
}
pre {
  background-color: #282c34;
}

section div div.loading::after {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  top: 50%; /* Adjusted to center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: -30px;
  margin-left: -30px;
}

section div div.loading::after {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #36c;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  content: "";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>

<template>
  <section class="p-4">
    <div class="flex justify-end">
      <cdx-button action="progressive" weight="primary" class="max-h-[32px]" @click="addEmail">Add email</cdx-button>
    </div>
    <section id="email-comparator-container" class="flex gap-4 overflow-x-auto">
      <div class="w-5/12 shrink-0" v-for="(email, index) in emails" :key="index" ref="itemRefs">
        <div :class="{ loading: email.loading }" class="relative flex flex-col" :id="'email-' + email.id + '-preview'">
          <div class="mb-5 flex flex-row items-end justify-between gap-2">
            <cdx-field class="flex-grow">
              <cdx-text-input v-model="email.url" @input="updateEmail(email)" />
              <template #label>#{{ email.id }} | Email URL:</template>
            </cdx-field>
            <cdx-button action="destructive" class="max-h-[32px]" weight="quiet" aria-label="Clear" :disabled="disableClear" @click="clearEmail(email)">
              <cdx-icon :icon="cdxIconClear" />
            </cdx-button>
          </div>
          <iframe sandbox="allow-same-origin allow-popups allow-scripts" class="h-[calc(100vh-230px)] w-full overflow-y-auto border border-gray-400" v-bind:srcdoc="email.src"></iframe>
        </div>
      </div>
    </section>
  </section>
</template>
