<script setup>
// Imports
import { domain, storagePath } from "@/toolkit_config.js";
import { ref, onMounted, watch } from "vue";
import { CdxField, CdxSelect, CdxAccordion, CdxButton, CdxIcon } from "@wikimedia/codex";
import { cdxIconLink, cdxIconImage } from "@wikimedia/codex-icons";
import html2canvas from "html2canvas";

// Declaring page variables.
const jsonURL = `${domain}/${storagePath}/fr-email-templates/templates-shared/archive/email_campaign_archive.json`;
const emailData = ref(null); // Holds full JSON data.
const emailFiscalYears = ref([]);
const selectedFiscalYear = ref(null);
const emailCategories = ref([]);

const clipboardMessage = ref({ display: false, message: "hello" });
const selectedEmail = ref({
  // Object to hold selected email data
  url: "",
  src: "",
  from: "",
  subject_line: "",
  preheader: "",
});

// Function to update selected email
const updateSelectedEmail = (email) => {
  selectedEmail.value = { ...email };
};

// Function executed after component is mounted
onMounted(async () => {
  try {
    const response = await fetch(jsonURL); // Fetching JSON data
    if (!response.ok) throw new Error("Network response was not ok");
    emailData.value = await response.json();
  } catch (error) {
    console.error("Error fetching data:", error);
  }
  if (emailData.value) {
    const currentFiscalYear = emailData.value.fiscal_year.length - 1;
    emailFiscalYears.value = emailData.value.fiscal_year.map((year) => ({ label: year.name, value: year.name })); // Mapping fiscal years
    selectedFiscalYear.value = emailData.value.fiscal_year[currentFiscalYear].name; // Setting initial selected fiscal year
    emailCategories.value = emailData.value.fiscal_year[currentFiscalYear].category; // Assigning categories
    selectedEmail.value = { ...emailData.value.fiscal_year[currentFiscalYear].category[0].emails[0] }; // Setting initial selected email
  }
});

// Watcher for selected fiscal year changes
watch(selectedFiscalYear, (newValue) => {
  const selectedYear = emailData.value.fiscal_year.find((year) => year.name === newValue); // Finding selected fiscal year
  if (selectedYear) {
    emailCategories.value = selectedYear.category; // Updating email categories
  }
});

// Function to copy email URL to clipboard
const copyEmailURL = () => {
  navigator.clipboard.writeText(selectedEmail.value.url).then(() => {
    // Show URL copied message
    clipboardMessage.value.display = true;
    clipboardMessage.value.message = "Email URL copied!";
    setTimeout(() => {
      clipboardMessage.value.display = false;
    }, 3000);
  });
};

// Function to copy email URL to clipboard
const createScreenshot = () => {
  const options = {
    allowTaint: true,
    useCORS: true,
  };
  const emailIframe = document.getElementById("design-preview").contentWindow.document.body;
  html2canvas(emailIframe, options).then((canvas) => canvas.toBlob((blob) => navigator.clipboard.write([new ClipboardItem({ "image/png": blob })])));
  clipboardMessage.value.display = true;
  clipboardMessage.value.message = "Screenshot copied!";
  setTimeout(() => {
    clipboardMessage.value.display = false;
  }, 3000);
};
</script>

<template>
  <section v-if="emailData !== null">
    <section class="flex">
      <!-- Design Selector -->
      <div class="w-96">
        <div class="flex flex-col">
          <cdx-field class="border-b border-solid border-gray-300 bg-gray-100 p-5">
            <cdx-select v-model:selected="selectedFiscalYear" :menu-items="emailFiscalYears" default-label="Choose Fiscal Year" />
            <template #label> Fiscal Year </template>
          </cdx-field>

          <div class="max-h-[calc(100vh-164px)] overflow-auto">
            <cdx-accordion v-for="(category, index) in emailCategories" :open="index === 0" :key="`${selectedFiscalYear}-${category.name.toLowerCase().replace(/\s+/g, '_')}`">
              <template #title
                ><span class="font-bold">{{ category.name }}</span></template
              >
              <ul class="flex flex-col gap-1">
                <li
                  class="cursor-pointer p-2 transition duration-300 hover:bg-gray-200"
                  :class="{
                    'bg-blue-100': selectedEmail.url === email.url,
                    'text-blue-600': selectedEmail.url === email.url,
                  }"
                  v-for="email in category.emails"
                  @click="updateSelectedEmail(email)">
                  {{ email.name }}
                </li>
              </ul>
            </cdx-accordion>
          </div>
        </div>
      </div>
      <!-- Design Preview -->
      <div class="flex flex-1 flex-col border-b border-l border-gray-300 bg-gray-100">
        <div class="flex flex-row items-start justify-between p-4">
          <!-- Table for email info -->
          <table>
            <tr>
              <td class="pb-2 pr-5 text-sm font-light text-gray-700">From:</td>
              <td class="pb-2">{{ selectedEmail.from }}</td>
            </tr>
            <tr>
              <td class="pb-2 pr-5 text-sm font-light text-gray-700">Subject Line:</td>
              <td class="pb-2 font-semibold">{{ selectedEmail.subject_line }}</td>
            </tr>
            <tr>
              <td class="pb-4 pr-5 text-sm font-light text-gray-700">Preheader:</td>
              <td class="pb-4">{{ selectedEmail.preheader }}</td>
            </tr>
            <tr>
              <td class="pr-5 text-sm font-light text-gray-700">Acoustic Name:</td>
              <td class="text-sm font-light text-gray-700">{{ selectedEmail.acoustic_template }}</td>
            </tr>
          </table>
          <div class="relative flex flex-col gap-2">
            <transition name="fade" mode="out-in">
              <!-- replace with cdxMessage? -->
              <div v-show="clipboardMessage.display" class="absolute -bottom-14 right-0 rounded-sm border border-green-700 bg-green-100 p-2">
                {{ clipboardMessage.message }}
              </div>
            </transition>
            <cdx-button @click="copyEmailURL"><cdx-icon :icon="cdxIconLink" /> Copy Email URL</cdx-button>
            <cdx-button @click="createScreenshot"><cdx-icon :icon="cdxIconImage" /> Create Screenshot</cdx-button>
          </div>
        </div>
        <iframe sandbox="allow-same-origin allow-popups allow-scripts" id="design-preview" class="h-[calc(100vh-230px)] border-t border-gray-300" :src="selectedEmail.url"></iframe>
      </div>
    </section>
  </section>
</template>
