<script setup>
import SideBar from "./components/SideBar.vue";
</script>
<template>
  <SideBar />
  <main class="overflow-auto">
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component"></component>
      </transition>
    </router-view>
  </main>
</template>
